.card{
   background-color: white;
   color: black;
   margin:1rem;
   padding: 0 0 1rem 0;
}
.serviceimg1{
    height:20rem;
}
.serviceimg2{
    height:15rem;
}
@media (max-width:916px) {
    .serviceimg1{
        height:10rem;
        width:15rem;
    }
    .serviceimg2{
        width:15rem;
        height:10rem;
    }
}
button{
    padding:1rem;
    border: 1px solid #0fcff9;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 1.5rem;
}
button:hover{
    background-color: #0fcff9;
    color:white;
}
